<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TSV 1947 Ebensfeld e.V.</title>
    <meta name="author" content="Helmut Neuner, Christoph Neuner" />
    <meta name="description" content="Willkommen auf der offiziellen Homepage des TSV 1947 Ebensfeld e.V.." />
    <meta property="og:image" content="~/images/vereinsemblem.jpg" />
    <meta property="og:description" content="Willkommen auf der offiziellen Homepage des TSV 1947 Ebensfeld e.V.." />
    <meta property="og:title" content="TSV 1947 Ebensfeld e.V." />
    <link rel="Shortcut Icon" asp-href-include="~/images/vereinsemblem/vereinsemblem_ausgeschnitten/vereinsemblem_16x18.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/*.css" />
</head>
