@{
    ViewData["Title"] = "A-Jugend";
}

<article class="mobileSameAsDesktop">
    <b>A-Jugend TSV Ebensfeld</b><br />
    <div class="table">
        <div class="tr">
            <div class="td">Trainer:</div><div class="td"></div><div class="td"></div>
        </div>        
        <div class="tr">
            <div class="td">Norbert Kunisch</div><div class="td">0170 - 9310802</div><div class="td">norbert.kunisch@t-online.de</div>
        </div>
    </div>
    <hr />
</article>

