@{
    ViewData["Title"] = "A-Jugend";
}

<article class="mobileSameAsDesktop">
    <b>A-Jugend TSV Ebensfeld</b><br />
    <div class="table">
        <div class="tr">
            <div class="td">Trainer:</div><div class="td"></div><div class="td"></div>
        </div>        
        <div class="tr">
            <div class="td">Markus Ziegelhöfer</div><div class="td">017620653482</div><div class="td">mziegelhoefer@t-online.de</div>
        </div>
    </div>
    <hr />
</article>

