@{
    ViewData["Title"] = "B-Jugend";
}

<article class="mobileSameAsDesktop">
    <b>B-Jugend TSV Ebensfeld</b><br />
    <div class="table">
        <div class="tr">
            <div class="td">Trainer B1</div><div class="td"></div><div class="td"></div>
        </div>
        <div class="tr">
            <div class="td">Joachim Gagel</div><div class="td">0171 - 2190382 </div><div class="td">j.gagel@winn.de</div>
        </div>
        <br />
        <hr />
        <div class="tr">
            <div class="td">Trainer B2</div><div class="td"></div><div class="td"></div>
        </div>
        <br />
        <div class="tr">
            <div class="td">Jürgen Weigler</div><div class="td">0160 - 90767244</div><div class="td">j.weigler@t-online.de</div>
        </div>
    </div>
    <hr />
</article>