@{
    ViewData["Title"] = "B-Jugend";
}

<article class="mobileSameAsDesktop">
    <b>B-Jugend TSV Ebensfeld</b><br />
    <div class="table">
        <div class="tr">
            <div class="td">Trainer</div><div class="td"></div><div class="td"></div>
        </div>
        <div class="tr">
            <div class="td">Jürgen Wachter</div><div class="td">01733844929 </div><div class="td">wachter-juergen@t-online.de</div>
        </div>
        <br />
        <div class="tr">
            <div class="td">Volker Seelmann</div><div class="td">015115432721</div><div class="td">volker.seelmann@web.de</div>
        </div>
    </div>
    <hr />
</article>