@{
    ViewData["Title"] = "C-Jugend";
}


<article class="mobileSameAsDesktop">
    <b>C-Jugend TSV Ebensfeld</b><br />
    <div class="table">
        <div class="tr">
            <div class="td">Trainer:</div><div class="td"></div><div class="td"></div>
        </div>
        <div class="tr">
            <div class="td">Jens Scheftlein</div><div class="td">0160 - 97076211</div><div class="td">jens.scheftlein1909@gmail.com</div>
        </div>
    </div>
    <hr />
</article>


@*<article class="mobileSameAsDesktop">
    <b>C1-Jugend - (SG) TSV Ebensfeld</b>
    <br />
    <div class="table">
        <div class="tr">
            <div class="td">1. Betreuer</div>
        </div>
        <div class="tr">
            <div class="td">Helmut Tischler</div><div class="td">0170 7744944</div><div class="td">helmut.tischler.ht@gmail.com</div>
        </div>
        <br />
        <div class="tr">
            <div class="td">2. Betreuer</div>
        </div>
        <div class="tr">
            <div class="td">Michael Dietz</div><div class="td">0151 4123196</div><div class="td">michael.d@freenet.de</div>
        </div>
        <br />
        <div class="tr">
            <div class="td">Trainer</div>
        </div>
        <div class="tr">
            <div class="td">Joachim Gagel</div><div class="td">0171 2190382</div><div class="td">j.gagel@winn.de</div>
        </div>
    </div>
</article>

<article class="mobileSameAsDesktop">
    <b>C2-Jugend - (SG) TSV Ebensfeld a.K.</b>
    <br />
    <div class="table">
        <div class="tr">
            <div class="td">1. Betreuer</div>
        </div>
        <div class="tr">
            <div class="td">Engelbert Förner</div><div class="td">0171 6838792</div><div class="td">engelbert.foerner@web.de</div>
        </div>
        <br />
        <div class="tr">
            <div class="td">2. Betreuer</div>
        </div>
        <div class="tr">
            <div class="td">Jürgen Weigler</div><div class="td">0160 90767244</div><div class="td">j.weigler@t-online.de</div>
        </div>
    </div>
</article>*@
