@{
    ViewData["Title"] = "D-Jugend";
}

<article class="mobileSameAsDesktop">
    <b>D-Jugend TSV Ebensfeld</b><br />
    <div class="table">
        <div class="tr">
            <div class="td">Trainer D1</div>
        </div>
        <div class="tr">
            <div class="td">Simone Göhring</div><div class="td">0170 4974256</div><div class="td">simone.goehring@gmx.de</div>
        </div>
        <br />
        <div class="tr">
            <div class="td">Jens Scheftlein</div><div class="td">0160/97076211</div><div class="td">jens.scheftlein1909@gmail.com</div>
        </div>
        <br />
        <br />
        <div class="tr">
            <div class="td">Trainer D2</div>
        </div>
        <div class="tr">
            <div class="td">Stefan Schneiderbanger</div><div class="td">0170/8356652</div><div class="td">JugendleiterTSVKleukheim@gmx.de</div>
        </div>
        <br />
        <div class="tr">
            <div class="td">Dirk Milkereit</div><div class="td">0176/83042761</div><div class="td">dirk.milkereit@gmx.de</div>
        </div>
    </div>
    <hr />
</article>
