@{
    ViewData["Title"] = "D-Jugend";
}

<article class="mobileSameAsDesktop">
    <b>D-Jugend TSV Ebensfeld</b><br />
    <div class="table">
        <div class="tr">
            <div class="td">Trainer D1</div>
        </div>
        <div class="tr">
            <div class="td">Holger Böhm</div><div class="td">0160 - 95487782</div><div class="td">boehm-holger.kerstin@t-online.de</div>
        </div>
        <br />
        <hr />
        <br />
        <div class="tr">
            <div class="td">Trainer D2</div>
        </div>
        <div class="tr">
            <div class="td">Stefan Dütsch</div><div class="td">0151 - 57230981</div><div class="td">s.duetsch@gmx.de</div>
        </div>
        <br />
        <hr />
        <br />
        <div class="tr">
            <div class="td">Trainer D3</div>
        </div>
        <div class="tr">
            <div class="td">Norbert Oswald </div><div class="td">0172 - 8572287</div><div class="td">info@norbert-oswald.de</div>
        </div>
        <br />
    </div>
    <hr />
</article>
