@{
    ViewData["Title"] = "Damenmannschaft";
}
<article class="text-center">
    @*<h1>Unsere Damenmannschaft 2018/19 Kreisliga Süd/West Oberfranken</h1>
    <hr />*@
    <p>Ansprechpartnerin: Verena Lempa (verena.lempa@gmx.de oder 015146532836 )</p>
    <p>Trainer Kevin Popp (015112705720) und Maxi Reschke</p>
    <p>Wer Lust hat bei uns mitzukicken, kann gerne mal vorbeischauen.</p>
    <p>Wir trainieren am Mittwoch und Freitag jeweils um 19:00 Uhr.</p>
    <hr />
    @*<picture>
        <img class="img-responsive" src="~/images/fussball/damen_1718_sponsor.jpg" alt="Damenmannschaft und ALREGO Druck und Werbung GbR" />
    </picture>
    <hr />
    <picture>
        <img class="img-responsive" src="~/images/fussball/damen_1718_hinten.jpg" alt="Damenmannschaft" />
    </picture>*@
</article>