@{
    ViewData["Title"] = "Damengymnastik";
}

<h1>TSV Ebensfeld Gymnastikabteilung</h1>
<br />
<p>
    <h2> Vitaltraining und Pilates</h2>
    Am Montag, den 07.01.2019 –25.02.2019 starten wir Vitaltraining und Pilates in Kombination mit Brigitte Plesnivy (Trainer C und B Schein, Pilatestrainerin) von 17.30-18.25Uhr über 8 Abende hinweg.
    Pilates verbindet Atmung mit Bewegung. Das Körperzentrum (Bauch-Rücken-und Beckenbodenmuskulatur) wird gekräftigt.
    Vitaltraining beinhaltet Koordination- Dehnungs- und Entspannungsübungen.
    Die Übungen sind besonders geeignet zum Vorbeugen und um Beschwerden der Wirbelsäule zu verringern, gegen Hartspann der Rücken- und Schultermuskulatur.
    Schwerpunkt Prävention.
    Neue Interessierte sind herzlich willkommen. Die erste Stunde ist offen zum Schnuppern.
    Mitzubringen sind 2 Handtücher, warme Socken und eine Jacke.
    Für TSV Mitglieder 8.00€ für Nichtmitglieder 20.00€
    Für Fragen steht Brigitte Plesnivy Tel. 09573/1321 gerne zur Verfügung.
</p>
<br />
<p>
    <h2>Ganzkörpertraining</h2>
    Am Montag, den 07.01.2019 geht es weiter mit Brigitte Plesnivy und Ganzkörpertraining von 18.30-19.25Uhr.
    Um die Fettverbrennung anzuregen beginnen wir mit einem Aufwärmtraining.
    Darauf folgt effektive Kräftigung unserer Muskulatur im Hauptproblemzonenbereich am Bauch-Po und dem Bein-Bereich.
    Aber auch zusätzliche Trainingseinheiten für die Stärkung des Arm–Schulterbereiches  und der Rückenmuskulatur werden mit einfließen. Mit entspannender Dehnung beenden wir die Stunde.
    Bitte feste Turnschuhe, eine Matte und 2 Handtücher mitbringen.
    Es besteht die Möglichkeit für 20.00€ an 10 Stunden teilzunehmen.
    Gerne könnt ihr zu einer Schnupperstunde vorbei kommen.
</p>
<br />
<p>
    <h2>Bodytone</h2>
    Am Mittwoch, den 09 .01.2019 beginnt der Kurs Bodytone von 18.30-19.15Uhr.
    In diesen 45Min. erlebst du ein effektives Ganzkörpertraining bei dem alle Hauptbewegungsmuskeln trainiert werden. Bei jeder Menge Spaß und kurzem Strechingteil.
    Kursleitung: Anja Spaderna, Kursgebühr: 10 Abende 20,00€
    Ebenso am Mittwoch, den 09.01.2019 folgt step and tone or fight and tone Kurs von 19.15-20.00Uhr.
    Stepkombi's oder Elemente aus Thai Bo mit Kräftigungsübungen im Intervall sind eine ideale Kombination zur Fettverbrennung und zum Muskelaufbau.
    Kursleitung: Anja Spaderna, Kursgebühr: 10 Abende 20,00€
</p>
<br />
<p>
    <h2>Rückenfit</h2>
    Ab Donnerstag, den 10.01.2019 startet Claudia Fischer mit Rückenfit.
    Von 9.00-10.15Uhr in der Turnhalle (neu)
    Nach einer kurzen Aufwärmphase werden alle Hauptbewegungsmuskeln-Rückenmuskeln effektiv bei Musik trainiert.
    Die Stunde wird durch Entspannungsübungen beendet. Es findet an 8 Vormittage für 20.00€ statt.
</p>

<hr />
   Für Fragen steht Hedwig Förner 09573/3938 gerne zur Verfügung.




