@{
    ViewData["Title"] = "Damengymnastik";
}

<h1>TSV Ebensfeld Gymnastikabteilung</h1>
<br />
<p>
    <h2> Bodytone Kurs</h2>
    Wir starten unser Herbstprogramm am Mittwoch, den 11.09.2019 mit dem Bodytone Kurs
    von 18.30-19.15Uhr.
    In diesen 45Min. erlebst du ein effektives Ganzkörpertraining bei dem alle Hauptbewegungsmuskeln trainiert werden. Bei jeder Menge Spaß und kurzem Strechingteil.
    Kursleitung: Anja Spaderna, Kursgebühr: 10 Abende 20,00€
</p>
<br />
<p>
    <h2>Step and tone or fight and tone</h2>
    Ebenso am Mittwoch, den 11.09.2019 folgt step and tone or fight and tone Kurs  von 19.15-20.00Uhr.
    Stepkombi's oder Elemente aus Thai Bo mit Kräftigungsübungen im Intervall sind eine ideale Kombination zur Fettverbrennung und zum Muskelaufbau.
    Kursleitung: Anja Spaderna, Kursgebühr: 10 Abende 20,00€
</p>
<br />
<p>
    <h2>Pilates und Vitaltraining</h2>
    Ab Montag, den 23.09.2019 starten wir mit Pilates und Vitaltraining in Kombination mit Brigitte Plesnivy (Trainer C und B Schein, Pilatestrainerin) von 17.30-18.25Uhr über 11 Abende hinweg.
    Pilates verbindet Atmung mit Bewegung. Das Körperzentrum (Bauch-Rücken-und Beckenbodenmuskulatur) wird gekräftigt.
    Vitaltraining beinhaltet Koordination- Dehnungs- und Entspannungsübungen.
    Die Übungen sind besonders geeignet zum Vorbeugen und um Beschwerden der Wirbelsäule zu verringern, gegen Hartspann der Rücken- und Schultermuskulatur.
    Schwerpunkt Prävention.
    Neue Interessierte sind herzlich willkommen. Die erste Stunde ist offen zum Schnuppern.
    Mitzubringen sind 2 Handtücher, Matte, warme Socken und eine Jacke.
    Für TSV Mitglieder 11.00€ für Nichtmitglieder 27.50€
    Für Fragen steht Brigitte Plesnivy Tel. 09573/1321 gerne zur Verfügung.

</p>
<br />
<p>
    <h2>Ganzkörpertraining</h2>
    Am Montag, den 23.09.2019 geht es weiter mit Ganzkörpertraining mit Brigitte Plesnivy von 18.30-19.25Uhr.
    Um die Fettverbrennung anzuregen beginnen wir mit einem Aufwärmtraining. 
    Darauf folgt effektive Kräftigung unserer Muskulatur im Hauptproblemzonenbereich am Bauch-Po und dem Bein-Bereich. Aber auch zusätzliche Trainingseinheiten für die Stärkung des Arm–Schulterbereiches  und der Rückenmuskulatur werden mit einfließen. Mit entspannender Dehnung beenden wir die Stunde.
    Bitte feste Turnschuhe, eine Matte und 2 Handtücher mitbringen.
    Es besteht die Möglichkeit für 20.00€ an 10 Stunden teilzunehmen.
    Gerne könnt ihr zu einer Schnupperstunde vorbei kommen.
    Für Fragen steht Brigitte Plesnivy Tel. 09573/1321 gerne zur Verfügung.

</p>

<br />
<p>
    <h2>Rückenfit</h2>
    Ab Donnerstag, den 19.09.2019 startet Claudia Fischer mit Rückenfit.
    Von 9.00-10.15Uhr.
    Nach einer kurzen Aufwärmphase werden alle Hauptbewegungsmuskeln-Rückenmuskeln effektiv bei Musik trainiert. Die Stunde wird durch Entspannungsübungen beendet. Es findet an 8 Vormittage für 20.00€ statt.
</p>

<br />
<p>
    <h2>Mutter-Vater-Kind-Turnen </h2>
    Am Donnerstag, den 12.09.2019
    Mutter-Vater-Kind-Turnen von 15.30-16.30Uhr.
    Von 1 Jahr – 6 Jahre. Auf euer Kommen freuen sich Rita Walter und Hedwig Förner.

</p>

<hr />
   Für Fragen steht Hedwig Förner unter der Nummer 09573/3938 gerne zur Verfügung.




