@{ 
    ViewData["Title"] = "Datenschutzerklärung";
}
<article>
    Datenschutzerklärung<br />
    Diese Datenschutzerklärung enthält Informationen darüber, welche Daten wir erheben und  wie wir diese Daten verarbeiten.
    Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.
    Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies soweit möglich stets auf freiwilliger Basis.
    Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann.
    Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
    Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen.
    Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
    Bei der Nutzung unserer Internetseiten werden aus organisatorischen und technischen Gründen folgende Daten gespeichert:
    die Namen der aufgerufenen Seiten, des verwendeten Browsers und des Betriebssystems, Datum und Uhrzeit des Zugangs, verwendete Suchmaschinen, Namen heruntergeladener Dateien sowie Ihre IP-Adresse.
    Diese Website benutzt AWStats Loganalyser und sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen.
    Wir werten diese technischen Daten anonym und lediglich zu statistischen Zwecken aus, um unseren Internetauftritt ständig weiter zu optimieren und unser Internetangebot für Sie noch attraktiver gestalten zu können.
    Darüber hinaus verwenden wir diese Daten, um Fälle von Missbrauch zu erkennen, diese Versuche zu dokumentieren und zu verhindern.
    Sie können das Speichern von Cookies auf Ihrer Festplatte verhindern, indem Sie in Ihren Browser-Einstellungen „keine Cookies akzeptieren“ wählen.

    Falls Sie auf unsere Website Verweise (Links) zu Internetseiten Dritter finden, so weisen wir darauf  hin, dass wir keinen Einfluss auf den Inhalt oder die Gestaltung dieser externen Seiten haben, die von Dritten betrieben werden.
    Die Inhalte dieser Datenschutzerklärung gelten dort unter Umständen nicht. Bitte informieren Sie sich deshalb beim jeweiligen Anbieter über die dort bereitgestellten Datenschutzerklärungen.
    <br />
    <br />
    Verantwortliche Stelle im Sinne des Bundesdatenschutzgesetzes ist:<br />
    TSV 1947 Ebensfeld e.V.<br />
    Norbert Böhmer<br />
    Himmelreichstraße 32<br />
    96250 Ebensfeld<br />
    info@tsv-ebensfeld.info ("Nur Kontaktaufnahme, keine personenbezogenen Infos senden")
    <br />
    <br />
    Aufsichtsbehörde:<br />
    Das Bayerische Landesamt für Datenschutzaufsicht (BayLDA)  <br />
    www.lda.bayern.de
    <br />
    <br />
    <br />
    <br />
    Hiermit weisen wir außerdem auf die Datenschutzbestimmungen des bayerischen Fußballverbandes hin:
    <br />
    <a href="http://www.bfv.de/cms/datenschutzrichtlinien_bfv.html">http://www.bfv.de/cms/datenschutzrichtlinien_bfv.html</a>
</article>