@{
    ViewData["Title"] = "E-Jugend";
}

<article class="mobileSameAsDesktop">
    <b>E-Jugend TSV Ebensfeld</b><br />
    <div class="table">
        <div class="tr">
            <div class="td">Trainer E1/2</div><div class="td"></div><div class="td"></div>
        </div>
        <div class="tr">
            <div class="td">Markus Leicht</div><div class="td">0176/46570876</div><div class="td">markusleicht@kabelmail.de</div>
        </div>
        <br />
        <div class="tr">
            <div class="td">Stefan Dütsch</div><div class="td">0151/57230981</div><div class="td">s.duetsch@gmx.de</div>
        </div>
    </div>
    <hr />
</article>
