@{
    ViewData["Title"] = "E-Jugend";
}

<article class="mobileSameAsDesktop">
    <b>E-Jugend TSV Ebensfeld</b><br />
    <div class="table">
        <div class="tr">
            <div class="td">Trainer E1</div><div class="td"></div><div class="td"></div>
        </div>
        <div class="tr">
            <div class="td">Marco Huber</div><div class="td">0152-34127060</div><div class="td">mahajono@yahoo.de</div>
        </div>
        <br />
        <div class="tr">
            <div class="td">Trainer E2/3</div><div class="td"></div><div class="td"></div>
        </div>
        <div class="tr">
            <div class="td">Lars Göhring  </div><div class="td">0170 - 4974254</div><div class="td">L.Goehring@gmail.com</div>
        </div>
        <br />
    </div>
    <hr />
</article>
