@{
    ViewData["Title"] = "F-Jugend";
}

<article class="mobileSameAsDesktop">
    <b>F-Jugend TSV Ebensfeld</b><br />
    <div class="table">
        <div class="tr">
            <div class="td">Trainer F</div><div class="td"></div><div class="td"></div>
        </div>
        <div class="tr">
            <div class="td">Christian Schleupner</div><div class="td">0176 - 24006370</div><div class="td">Schleupner@gmail.com</div>
        </div>
        <br />
    </div>
    <hr />
</article>