@{
    ViewData["Title"] = "F-Jugend";
}

<article class="mobileSameAsDesktop">
    <b>F-Jugend TSV Ebensfeld</b><br />
    <div class="table">
        <div class="tr">
            <div class="td">Trainer F1/2</div><div class="td"></div><div class="td"></div>
        </div>
        <div class="tr">
            <div class="td">Simone Göhring</div><div class="td">0170 4974256</div><div class="td">simone.goehring@gmx.de</div>
        </div>
        <br />
        <div class="tr">
            <div class="td">Lars Göhring</div><div class="td"></div>
        </div>
    </div>
    <hr />
</article>