@{
    ViewData["Title"] = "G-Jugend";
}

<article class="mobileSameAsDesktop">
    <b>G-Jugend TSV Ebensfeld</b><br />
    <div class="table">
        <div class="tr">
            <div class="td">Trainerin</div><div class="td"></div><div class="td"></div>
        </div>
        <div class="tr">
            <div class="td">Simone Göhring</div><div class="td">09573/950631</div><div class="td">simone.goehring@gmx.de</div>
        </div>
    </div>
</article>