@{
    ViewData["Title"] = "G-Jugend";
}

<article class="mobileSameAsDesktop">
    <b>G-Jugend TSV Ebensfeld</b><br />
    <div class="table">
        <div class="tr">
            <div class="td">Trainer</div><div class="td"></div><div class="td"></div>
        </div>
        <div class="tr">
            <div class="td">Simone Göhring</div><div class="td">0170 – 4974256</div><div class="td">simone.goehring@gmx.de</div>
        </div>
        <br />
        <div class="tr">
            <div class="td">Stefan Dütsch</div><div class="td">0151 - 57230981</div><div class="td">s.duetsch@gmx.de</div>
        </div>
        <br />
    </div>
</article>