@{
    ViewData["Title"] = "Impressionen";
}

<article class="mobileSameAsDesktop">
    <div id="diashow">
        <img id="eins" src="~/images/impressionen/bild01.jpg" width="800" height="551"
             alt="Einige Bilder rund um unseren TSV Ebensfeld">
    </div>
    <script type="text/javascript" src="~/js/impressionen.js"></script>   
</article>
