@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutHomeIndex";
}

<div id="Home-Index-text-header">
    <span>
        TSV 1947 Ebensfeld e.V.  
    </span>
</div>

<div class="bgimg1"></div>

<div id="indexTextHeader">
        Herzlich willkommen auf  der Website des TSV 1947 Ebensfeld. <br />
        Mit über 800 Mitgliedern sind wir einer der größten Vereine unserer Marktgemeinde.
        Als  breit aufgestellter lokaler Sportverein bieten wir von Fußball über Tennis,
        Leichtathletik und Volleyball bis hin zu Damengymnastik und Vater-Mutter-Kind Turnen ein breites Spektrum von Sportarten an.          
</div>


<div class="bgimg2"></div>

<div class="index-container">
    <h1 style="text-decoration:underline;">Aktuelles</h1>

    <picture>
        <img class="img-responsive" src="~/images/corona/plakat_regeln.jpg" alt="" />
    </picture>
    <hr />
    @*<article style="text-align:left">
        <h2>Hygieneschutzkonzept für Sportvereine - Empfehlung</h2>

        Im Rahmen der Wiederaufnahme des Sportbetriebs wird seitens des Bayerischen Staatsministeriums des Innern, für Sport und Integration ein Hygieneschutzkonzept für Sportvereine gefordert. <br />
        Die einzelnen Vorgaben sind im Rahmenkonzept für den Sport enthalten, die unter folgendem Link abrufbar sind:<br />
        <br />
        <a href="https://www.verkuendung-bayern.de/files/baymbl/2020/402/baymbl-2020-402.pdf"></a>
        <br />
        Zur Orientierung stellen wir unseren Sportvereinen ein Muster für ein Hygieneschutzkonzept zur Verfügung, das die einzelnen Punkte der Rahmenverordnung beinhaltet. <br />
        Außerdem besteht die Möglichkeit, dass der Sportverein dieses Konzept individuell auf seine Bedürfnisse anpasst.
        <br />
        Neben diesem Hygieneschutzkonzept für Vereine steht das BLSV Service-Center natürlich gerne auch per Mail unter service@blsv.de sowie telefonisch unter 089/15702-400 zur Verfügung.<br />
        Allgemeine Informationen zum Hygieneschutzkonzept*<br />
        Individuell anpassbar:<br />
        Das Konzept kann individuell auf die einzelnen Bedürfnisse des Vereins angepasst werden. Ein-fach Punkte ergänzen und bearbeiten. Das Konzept dient als Grundlage für die Vereinsarbeit.<br />
        Plakat für Vereinsaushang:<br />
        Die wichtigsten Punkte sind auch als Plakat für den Vereinsaushang, für den Upload auf die Webs-ite etc. dargestellt. Das Plakat ist unter folgendem Link abrufbar:<br />
        <a href="https://www.blsv.de/fileadmin/user_upload/pdf/Corona/Plakat_Sportbetrieb_Allgemein.pdf"></a> 
        <br />
        Vorzeigbar:<br />
        Auf Nachfrage muss der örtlichen Gesundheitsbehörde das Schutzkonzept vorgezeigt werden. Dieses Konzept bildet die Basis dafür.<br />
        <br />
        Weitere Informationen finden Sie auch auf unserer Website unter www.blsv.de/coronavirus.
        <br />
    </article>*@

    Ein Vordruck für eine <a href="~/corona/Kontaktpersonenliste_Corona.doc" download="Kontaktpersonenliste Corona.doc">Kontaktpersonenliste</a>, die bei jedem Training auszufüllen ist,
    kann hier heruntergeladen werden.
    <hr />


    <p><h3>Volleyball:</h3></p>
    <p><strong><a asp-controller="Home" asp-action="Volleyball">Mitspieler/-innen für Freizeit-Mix gesucht! Weitere Infos unter Abteilung Volleyball.</a></strong></p>
    <hr />
</div>

<div class="bgimg3"></div>

<div class="index-container">
    <h3><strong><a asp-action="Begegnungen">Spieltermine und Ergebnisse aller Fußballmannschaften des TSV: (klick für längeren Zeitraum)</a></strong></h3>
    <br />
    <br />
    <script type='text/javascript'>
        (function () {
            var useSSL = 'https:' === document.location.protocol;
            var src = (useSSL ? 'https:' : 'http:') + '//www.bfv.de/widget/widgetresource/widgetjs';
            document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
        })();
    </script>

    <div id="bfv1534926416872">Konnte nicht geladen werden.</div>

    <script>
        var width = window.innerWidth;

        if (width < 768) {
            BFVWidget.HTML5.zeigeVereinSpiele("00ES8GNJVO000017VV0AG08LVUPGND5I", "bfv1534926416872",
            {
                height: "400", width: "300", selectedTab: BFVWidget.HTML5.vereinTabs.spiele,
                colorResults: "rgb(14,14,0)", colorNav: "rgb(17,17,1)", colorClubName: "rgb(13,13,0)", backgroundNav: "rgb(241,241,6)"
            });

        }

        else if (width >= 768 && width < 1200) {
            BFVWidget.HTML5.zeigeVereinSpiele("00ES8GNJVO000017VV0AG08LVUPGND5I", "bfv1534926416872",
            {
                height: "600", width: "1000", selectedTab: BFVWidget.HTML5.vereinTabs.spiele,
                colorResults: "rgb(14,14,0)", colorNav: "rgb(17,17,1)", colorClubName: "rgb(13,13,0)", backgroundNav: "rgb(241,241,6)"
            });

        }

        else {
            BFVWidget.HTML5.zeigeVereinSpiele("00ES8GNJVO000017VV0AG08LVUPGND5I", "bfv1534926416872",
                        {
                            height: "700", width: "1400", selectedTab: BFVWidget.HTML5.vereinTabs.spiele,
                            colorResults: "rgb(14,14,0)", colorNav: "rgb(17,17,1)", colorClubName: "rgb(13,13,0)", backgroundNav: "rgb(241,241,6)"
                        });
        }
    </script>
</div>

<div class="bgimg4"></div>


