@{
    ViewData["Title"] = "Kinder-Turnen";
}
<article>
    <p>
        Ab Donnerstag, den 12. Januar, geht es weiter mit dem Kinderturnen „Mutter-Vater-Kind-Turnen“ von 15.30 bis  16.30 Uhr.
        Der Kurs ist für Kinder von ein bis sechs Jahren geeignet.
    </p>
    Informationen erhaltet Ihr von Hedwig  Förner unter 09573-3938 oder hedwig.foerner@gmx.de
</article>