@{
    ViewData["Title"] = "Kontakt";
}

<div class="panel panel-default">
    <div class="panel-heading">
        Kontakt
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Vorstandschaft</td>
                        <td>1. Vorsitzender</td>
                        <td>Böhmer Norbert</td>
                        <td>
                            0162/9719061 <br />
                            info@tsv-ebensfeld.info ("Nur Kontaktaufnahme, keine personenbezogenen Infos senden")
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>2. Vorsitzender</td>
                        <td>Häublein Armin</td>
                        <td>0170/2320249</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Kassier</td>
                        <td>Förner Hedwig</td>
                        <td>09573/3938</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Schriftführer</td>
                        <td>Schwenk Jan-Eric</td>
                        <td>0151/11756388</td>
                    </tr>
                    <tr>
                        <td>Fußball</td>
                        <td>Abteilungsleiter</td>
                        <td>Häublein Thomas</td>
                        <td>09573/3730</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>1. Mannschaft</td>
                        <td>Beringer Roland</td>
                        <td>0152/34545981</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>2. Mannschaft</td>
                        <td>Hofmann Rainer</td>
                        <td>0176/70904729</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Damenmannschaft Ansprechpartnerin</td>
                        <td>Verena Lempa</td>
                        <td>verena.lempa@gmx.de oder 0151/46532836 </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Damenmannschaft Trainer</td>
                        <td>Kevin Popp</td>
                        <td>0151/12705720</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Jugend übergeordnet</td>
                        <td>Stefan Dütsch</td>
                        <td>s.duetsch@gmx.de oder 0151/57230981</td>
                    </tr>
                    <tr>
                        <td>Leichtathletik</td>
                        <td>Abteilungsleiter</td>
                        <td>Röder Tino</td>
                        <td>0151/12321844</td>
                    </tr>
                    <tr>
                        <td>Tennis</td>
                        <td>Abteilungsleiter</td>
                        <td>Gast Markus</td>
                        <td>0179/4995284</td>
                    </tr>
                    <tr>
                        <td>Vater-Mutter-Kind Turnen</td>
                        <td>Abteilungsleiterin</td>
                        <td>Förner Hedwig</td>
                        <td>09573/3938</td>
                    </tr>
                    <tr>
                        <td>Volleyball</td>
                        <td>Abteilungsleiter</td>
                        <td>Amon Horst</td>
                        <td>0170/2426309</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>