@{
    ViewData["Title"] = "2. Mannschaft";
}
<article class="text-center">
    @*<h1>Unsere 2. Mannschaft 2018/19 Kreisklasse 1 Bamberg</h1>
    <figure>
            <picture>
                <img class="img-responsive" src="/images/fussball/2.Mannschaft_org2016.JPG" alt="1. Mannschaft 2016/17" />
            </picture>
            <figcaption>
                Stehend von links: Florian Lohneis, Spielleiter 2. Mannschaft Rainer Hofmann, Markus Ziegelhöfer, Simon Keller, Daniel Röder, Philipp Hroch, Fabian Gube, Tom Lieb, Lukas Schütz, Simon Lieb, Trainer 2. Mannschaft Thomas Helmreich, Heiko Brückner.
                Sitzend von links: Fabian Schütz, Manuel Hanka, Dirk Lempa, Jonas Sebald, Max Hauptmann, Sven Zapf, Johannes Ulrich, Christian Will, Jan-Eric Schwenk
            </figcaption>
        </figure>
    <hr />*@
    Trainer: Thomas Helmreich <br />
    Spielleiter: Zapf Sven
</article>