@{
    ViewData["Title"] = "1. Mannschaft";
}
    <article class="text-center">
        @*<h1>Unsere 1. Mannschaft 2019/20 Bezirksliga Oberfranken West</h1>
        <figure>
            <picture>
                <img class="img-responsive" src="~/images/fussball/1mannschaft2019.jpeg" alt="1. Mannschaft 2019" />
            </picture>

            <figcaption>
                Stehend v. l.  Thomas Häublein, Oliver Kellner, Daniel Röder, Sebastian Amon, Florian Häublein,
                Thomas Stölzel, Simon Schug, Heinrich Hagel,  Jonas Schober,  Roland Behringer,  Norbert Böhmer
                <br />
                Sitzend v.l. Florian Storath, Antonino Matassa, Leon Holzheid, Yannik Gründel, Maximilian Reschke,
                Max Hauptmann, Dominik Kremer, Kevin Popp, Tobias Hopf, Dominik Eideloth
            </figcaption>
        </figure>
        <hr />*@
        Trainer: Stefan Sperber <br />
        Spielleiter: Roland Behringer
    </article>