@{ 
    ViewData["Title"] = "Pachtinfo";
}

<article>
    <p><h1><strong>Neuverpachtung unserer Vereinsgaststätte</strong> </h1></p><hr />
    <p><h2>Ab 1. Januar 2017 ist unsere Gaststätte im Vereinsheim <br />am Sportgelände „Karl Reinlein Stadion“ neu zu verpachten.</h2></p><br />
    <article class="text-center">
        <img src="~/images/stadion/sportheim.jpg" class="img-responsive">
    </article>
    <p><h3>Objektbeschreibung</h3></p><br />
    Über die gesamte Woche verteilter Trainings- und Spielbetrieb.<br />
    Auch für Neueinsteiger in der Gastronomie geeignet.<br />
    Keine Brauereibindung<br />
    20 Parkplätze direkt am Gelände
    Gasträume:
    <ul>
        <li>Hauptraum ca. 50 Plätze</li>
        <li>Nebenraum ca. 30 Plätze</li>
        <li>Freifläche ca. 50 Plätze</li>
    </ul>
    Ausstattung:
    <ul>
        <li>Gastraum und Nebenraum, durch Schiebetür getrennt.</li>
        <li>Einrichtung vorhanden</li>
        <li>Küche</li>
        <li>2 Nebenräume</li>
        <li>Lagerraum</li>
        <li>Kühlraum</li>
        <li>Auf Wunsch, nach Zusatzvereinbarung Nutzung des Grillhäuschens möglich</li>
    </ul>
    Pachtpreis auf Anfrage.<br />
    Weitere Auskünfte und bei Rückfragen: Norbert Böhmer 1.Vorsitzender Tel.: 0162/9719061
</article>
