@{
    ViewData["Title"] = "Tennis";
}

<h3>Herzlich willkommen bei der Tennisabteilung des TSV Ebensfeld. </h3>
<br />
<br />
    Für alle Tennisfans bieten wir eine schöne Anlage mit 3 Sandplätzen sowie eigenem Vereinsheim.
<br />
    Egal ob Anfänger, Fortgeschrittene oder Spieler mit Matchpraxis,
    auf Anfrage bieten wir für alle Altersklassen Trainings- oder Spielmöglichkeiten für den Freizeit und/oder Mannschaftssport.
<br />
<br />
<hr />
<br />
<figure>
    <picture>
        <img class="img-responsive" src="~/images/tennis/VM_2019_Herren_Doppel.jpg" />
    </picture>
    <figcaption>
        Vereinsmeisterschaft 2019 - Endspiel Herren Doppel<br />
        v.l.n.r. Sascha Helmreich, Hans-Werner Helmreich, Christopher Hofmann, Frank Eckstein
    </figcaption>
</figure>
<br />
<br />
<hr />
<br />
<br />
<figure>
    <picture>
        <img class="img-responsive" src="~/images/tennis/VM_2019_Sieger.jpg" />
    </picture>
    <figcaption>
        Vereinsmeisterschaft 2019 - Sieger<br />
        v.l.n.r. Markus Gast (Abteilungsleiter), Christopher Hofmann und Frank Eckstein (Herren-Doppel), Markus Blaut (Herren-Einzel)
    </figcaption>
</figure>
<br />
<hr />
<br />
<br />
<p style="text-decoration:underline">Kinder/Jugendtraining bzw. Anfänger jeden Alters</p>
    Mittwochs ab 17:00 Uhr bzw. gemäß Aushang im Schaukasten
<br />
    Infos bei Peter Osses (09573/3289446)
<br />
    oder Markus Gast (09547/8709980 oder 0179/4995284)
<br />
<br />
<p style="text-decoration:underline">Anfängertraining Minis (von 3 bis 8 Jahren)</p>
    von Mai bis Oktober immer samstags um 9:30 Uhr bzw. gemäß Aushang im Schaukasten
<br />
    Infos bei Markus Gast (09547/8709980 oder 0179/4995284)
<br />
<br />
<figure>
    <picture>
        <img class="img-responsive" src="~/images/tennis/Minitraining.jpg" />
    </picture>
    <figcaption>
    </figcaption>
</figure>
<br />
<br />
<hr />
<br />
<br />
    Gäste sind auf unserer Anlage jederzeit gerne willkommen.
<br />
    Platzmiete pro Stunde 8€
<br />
    Schlüssel erhalten Sie bei
<br />
    - Markus Gast, Kutzenberg 135d, 96250 Ebensfeld (09547/8709980 oder 0179/4995284)
<br />
    - Elektro Halama, Frankenstraße 8, 96250 Ebensfeld (09573/6515)
<br />
    - Hedwig Förner, St.-Veit-Str. 13, 96250 Ebensfeld (09573/3938)
<br />
    - Peter Osses, Friedenslinde, 96250 Ebensfeld      (09573/3289446)
<br />
<br />
    Aktuell nimmt die Tennisabteilung des TSV Ebensfeld mit zwei Herrenmannschaften am Spielbetrieb des Bayerischen Tennisverbandes teil.
<br />
<br />
    Haben wir Ihr Interesse geweckt? - Sprechen Sie mich an!
<br />
    Markus Gast
<br />
    Abteilungsleiter
