@{
    ViewData["Title"] = "Vereinschronik";
}

<article id="vereinschronik">
        <p>Blick in die Geschichte:</p> <p>
            10. Januar 1947:
            Der TSV wird gegründet. Die Kriegswirren waren kaum überstanden, da dachte man in Ebensfeld schon wieder an den Sport: In einer wirtschaftlich und politisch schwierigen Zeit wurde der TSV Ebensfeld gegründet. Die Nachkriegszeit mit der damit verbundenen Ungewissheit über die Zukunft war für einige sportbegeisterte Ortsbewohner kein Hindernis, bereits im Jahr 1947 einen Sportverein ins Leben zu rufen.
        </p>
        <p>
            Welche Hindernisse die Gründungsmitglieder damals zu überwinden hatten, ehe sie eine Genehmigung zur Vereinsgründung erhielten, mag man heute wohl kaum mehr ermessen. Damals regierte die amerikanische Besatzungsmacht noch uneingeschränkt, und die Belange des Sports nahmen auf der Prioritätenliste nach zwölf Jahren Nazi-Deutschland und sechs Jahren Krieg einen Platz ganz weit hinten ein. Erst fast zwei Jahre nach Kriegende wurden vereinzelt Sportbeauftragte von den Amerikanern eingesetzt,
            die darüber wachen sollten, dass bei der Vereinsgründung auch wirklich alles mit rechten Dingen zuging.
            Doch somit war der beschwerliche Weg zur Vereinsgründung frei.
        </p>
        <p>
            Und am 10. Januar 1947 konnten Kurt Mecklenburg, Ernst Keilberth und Vera Surek schließlich die Gründung des Turn- und Sportvereines Ebensfeld bekannt geben.
            Sie fungierten gleichzeitig als kommissarischer Vorstand des Vereines, der im Gründungsjahr immerhin bereits 66 Mitglieder zählte. Als Vereinslokal wählte man übrigens den Brauereigasthof Engelhardt, dessen Besitzer einer der engagiertesten Förderer des jungen Vereins werden sollte.
        </p>
        <p>Was sich die Gründungsmitglieder auf die Fahnen geschrieben hatten: "Körperliche Ertüchtigung und Schulung und damit Pflege der Gesundheit mit Höchstleistungen in gebührlichen Grenzen. Damit verbunden eine Festigung und Vertiefung ritterlichen Geistes und vorbildlicher Kameradschaft".</p>
        <p>Von Beginn an standen die verschiedensten Sportarten im Mittelpunkt des Vereinsleben. Der Name "Turn- und Sportverein" dokumentiert, dass man von Anfang alle Spielarten des Sports in den Verein integrieren wollte. Allerdings sind es einzig die Fußballer, die die 50-jährige Vereinsgeschichte bislang ohne Unterbrechung "überstanden" haben. Verschiedenen Abteilungen war nur eine kurze Lebensdauer beschieden, nicht zuletzt dank der früher doch teilweise recht bescheidenen Möglichkeiten in finanzieller und ausstattungsmäßiger Hinsicht. </p>
        <p>Am 6. März 1948, ein Jahr nach der Gründung, fand die allererste Generalversammlung statt. Dabei wurde der provisorische Vorstand durch eine neue Vereinsvertretung abgelöst: Kurt Mecklenburg, Vera Surek und Gunda Dietz übernahmen die Führung des TSV Ebensfeld. Wichtigstes Problem damals: das fehlende Geld.</p>
        <p>
            Noch galt die "Zigarettenwährung". Alles, was wichtig erschien, war nur über den Schwarzmarkthandel zu ergattern. Dass trotzdem die notwendigsten Geräte für den Verein angeschafft werden konnten, hat der TSV Ebensfeld der damals auch über die Landkreisgrenzen hinaus bekannten Theatergruppe "Thalia" zu verdanken, die dem Verein bereitwillig ihre Einnahmen zur Verfügung stellte. Dass Ende der vierziger Jahre nun absolut kein Pfennig für den Sport übrig war, zeigt die Tatsache, dass sich der Landessportverband
            strikt weigerte, dem Verein Fußballschuhe zur Verfügung zu stellen. Kein Wunder allerdings, waren doch im ganzen Bayernland gerade mal 20 Paar Fußballschuhe im Umlauf! Heute unvorstellbare Schwierigkeiten konnten die Vereinsmitglieder damals nicht davon abbringen, mit dem aktiven Sport zu beginnen.
        </p>
        <p>Am Main konnte man ein Sportgelände nutzen, das schließlich lange Jahre die "Heimat" des Vereins werden sollte. Unter einfachsten Bedingungen wurde dort Fußball und Handball gespielt. Im Jahr 1953 schließlich wurde ein "Sportlerhaus" in Betrieb genommen, in dem sich die Fußballbegeisterten umziehen konnten. Duschen oder eine Nasszelle? Fehlanzeige. Der ganze Ort, so berichtet die Chronik, sei am 9. August 1953 zur Einweihung auf den Beinen gewesen. </p>
        <p>Das Vereinsleben hatte für die Aktiven nicht allzu viel Annehmlichkeiten zu bieten. Ein LKW, der die Spieler zu weiter entfernten Auswärtsspielen brachte, war damals reinster Luxus. Normalerweise legten die Kicker den Weg per pedes oder mit dem Drahtesel zurück. Sofern einer vorhanden war. Doch jede Menge Freude an der Sache und vorbildliche Kameradschaft einten die Sportler, und der Erfolg sollte nicht lange ausbleiben. Schon in den fünfziger Jahren hatte der Verein einen hervorragenden Ruf, weit über die Landkreisgrenzen hinaus. </p>
        <p>
            Bald sollte der Verein seinen ersten richtig großen Erfolg feiern können: 1961 konnte die erste Fußballherrenmannschaft den Aufstieg in die A-Klasse erringen. Ein "wahrer Höhenflug" hatte die Mannschaft damals zur Meisterschaft geführt, dem allerdings postwendend der rasche Fall zurück in die B-Klasse folgen sollte. "Goldene sechziger Jahre" sollten für die Ebensfelder Sportler anbrechen. Nach schwierigen Anfängen konnte man durch viel persönlichen Einsatz und jede Menge Kameradschaftsgeist immer mehr sportliche Erfolge einheimsen.
            Am 24. und 25. Juni 1967 markierte das 20jährige Jubiläum des TSV Ebensfeld einen der festlichen Höhepunkte des Marktfleckens. "In zwei Jahrzehnten emporgearbeitet" ist wohl der treffendste Ausdruck, mit dem man den ersten Höhenflug des TSV Ebensfeld umschreiben kann.
        </p>
        <p>Der Verein hatte sich einen Namen erworben. Auch regionale und kommunale Würdenträger wurden auf den TSV Ebensfeld aufmerksam, was die Marktgemeinde dazu veranlasste, ein neues Sportgelände zu errichten. Im Jahr 1968 wurde die für die damalige Zeit futuristische Sportanlage ihrer Bestimmung übergeben, die Kunststofflaufbahn war seinerzeit eine von dreien in ganz Bayern! </p>
        <p>Das Sportgelände wurde unter tatkräftiger Mithilfe der Bevölkerung zu einem echten Schmuckstück der Gemeinde. Von nun an hatten weitere Abteilungen innerhalb des TSV Ebensfeld die Möglichkeit, sich im Rahmen der neugeschaffenen Gegebenheiten sportlich zu betätigen. </p>
        <p>
            So besann sich nach dem Jahr 1967 der Verein so richtig auf seine Vielschichtigkeit: Viele erfolgreiche Gruppierungen wurden gegründet. So zum Beispiel die Leichtathletikabteilung, die von Adolf Schnappauf geführt wurde und die zahlreichen Möglichkeiten, die die neugeschaffenen Sportanlagen boten, optimal nutztet, so dass sich auch zahlreiche Erfolge einstellten.
            Immer mehr Athleten des TSV Ebensfeld standen bei regionalen und überregionalen Meisterschaften auf dem Siegertreppchen. Selbst Weltmeisterehren schmücken die Vereinschronik des TSV Ebensfeld: Adolf Schnappauf, der lange Jahre unermüdlich die Leichtathletikabteilung führte, brachte von Seniorenweltmeisterschaften der Leichtathletik Medaillen mit an den Obermain. Derartige Erfolge sind für Vereine der Größenordnung des TSV Ebensfeld einzigartig.
        </p>
        <p>
            Gleichzeitig mit der Leichtathletik hielt die Sportart Basketball Einzug in den TSV Ebensfeld. Anfangs trainierten die Basketballer in der Turnhalle in Zapfendorf, was ab 1970 allerdings nicht mehr möglich war. Doch wurde inzwischen in Ebensfeld eine Dreifachturnhalle nach allerneuestem Standard errichtet, die 1974 dem Schul- und Vereinssport übergeben wurde. Somit hatte auch die Basketballabteilung wieder "ein Dach über dem Kopf". Der große "Macher" der Basketballabteilung war der viel zu früh verstorbene Werner Bukowski.
            Ganzer Stolz der Basketballer waren damals die sehr erfolgreichen Nachwuchsteams. Die Schülermannschaft erreichte 1977 den dritten Platz bei den Bayerischen Meisterschaften, ein Jahr später sprang in der heimischen Dreifachturnhalle immerhin ein vierter Platz heraus. Bedenkt man, dass sich die Ebensfelder Nachwuchsbasketballer bereits auf Kreisebene gegen die scheinbar übermächtige Konkurrenz der Bundesligateams aus Bamberg und Bayreuth durchsetzen konnte, so erstrahlen die einstigen Erfolge unter einem noch glanzvolleren Licht.
        </p>
        <p>Im Herbst 1973 eröffnete Bärbel May eine Gymnastikgruppe. Die Verknüpfung des Geselligen und Sportlichen stand bei dieser Abteilung von Beginn an im Vordergrund. Auch heute noch prägt dieses Motto die Abteilung. Keine Frage, dass sich die Damengymnastikgruppe großer Beliebtheit erfreut.</p>
        <p>
            Zeitweise in Vergessenheit geraten war die Volleyballabteilung, die im Oktober 1974 unter Baptist Raab ins Leben gerufen wurde. Großer Trainingsfleiß und viel Einsatzfreunde ermöglichte den Volleyballern einen Höhenflug, der allerdings nur von kurzer Dauer war. Mit dem Aufstieg in die Landesklasse sah sich der Verein nicht mehr in der Lage, die Verbandsauflagen wie das Melden von Jugendmannschaften zu erfüllen, weshalb die Abteilung aufgelöst wurde und erst in jüngster Zeit wieder ins Leben gerufen wurde.
            Das jüngste "Kind" des TSV Ebenfeld ist die Tennisabteilung, die seit einigen Jahren auch ein eigenes Domizil am Sportgelände an der Himmelreichstraße im Tennisheim hat. Schon bald nach der Gründung konnte die Abteilung einen großen Zuspruch aus dem gesamten Gemeindeqebiet verbuchen und Erfolge erzielen.
        </p>
        <p>
            Heute nutzt der TSV Ebensfeld die vor einigen Jahren komplett sanierten Anlagen am Schulzentrum: Die Dreifachturnhalle der Pater-Lunkenbein-Schule und das Karl-Reinlein-Sportstadion. Nachdem der Trainings und Spielbetrieb  für die Fußballabteilung aufgrund der Vielzahl an Aktiven im Jugend- und Seniorenbereich nicht mehr gewährleistet war, entschloss man sich seitens der Vereinsführung den bestehenden Hartplatz neben dem Rathaus, der zu diesem Zeitpunkt kaum mehr nutzbar war, in ein Rasenspielfeld
            umzuwandeln. Die Umbaumaßnahme wurde mit viel Eigeninitiative im April 2006 begonnen. Zum 60 jährigen Bestehen des TSV Ebensfeld im Jahr 2007 wurde der Sportplatz dann offiziell „in Betrieb genommen“.
            Um die bestehenden Sportanlagen weiter zu entlasten, wurde seitens des TSV Ebensfeld ein Hartplatz auf einem gepachteten Grundstück neben dem Tennisgelände errichtet. Die Baumaßnahme wurde im Jahr 2009 begonnen und im gleichen Jahr fertiggestellt.
        </p>
        <p>Die Fußballer des TSV Ebensfeld konnten in den letzten Jahren die größten Erfolge in der Vereinsgeschichte feiern: In der Saison 2008/2009 stieg man zum ersten Male seit 1961 wieder in die Kreisliga auf. Nachdem man hier in 3 Spielzeiten für einige Furore gesorgt hatte, stieg die Mannschaft als Meister der Kreisliga Bamberg in die Bezirksliga Oberfranken West auf. </p>
        <p>Jüngstes Kind der Abteilung Fußball ist die Damenmannschaft die im Jahr 2012 gegründet, bereits im Jahr 2014 den Aufstieg in die Kreisliga feiern konnte.</p>
        <p>
            Den größten sportlichen Erfolg in der Vereinsgeschichte feierte der TSV Ebensfeld im Jahr 2015. Mit dem zweiten Tabellenplatz in der Bezirksliga Oberfranken West der Saison 2014/2015 sicherten sich die TSV-Fußballer die Teilnahme an der Relegation zur Landesliga. Nachdem man sich von der SpVgg Erlangen nach einem 2:2 im Hinspiel im Rückspiel auf eigenem Platz ebenfalls 2:2 nach 90 Minuten und einer torlosen 30-minütigen Verlängerung trennte, musste ein Elfmeterschießen über den Einzug in die zweite Relegationsrunde entscheiden.
            Letztendlich endete die Partie nach zwei Fehlschüssen auf Ebensfelder Seite und deren drei auf Seiten der „Spieli“ Erlangen mit 8:7 für Ebensfeld.
            Im zweiten Relegationsvergleich konnte man die SpVgg Stegaurach auf eigenem Platz mit 1:0 bezwingen. Nachdem man sich im Rückspiel am 07.06.2015 schon in der Landesliga wähnte, folgte in der Nachspielzeit der regulären Spielzeit der Schock: Man musste den Gegentreffer zum 0:1 hinnehmen, was wiederum eine 2x15 minütige Verlängerung bedeutete. Nachdem diese torlos blieb, musste wiederum das Elfmeterschießen entscheiden.
            Hier zeigten die „Gelb-Weißen“  wie schon gegen Erlangen die besseren Nerven und konnten im Elfmeterschießen mit 5:4 gewinnen.  Der TSV Ebensfeld stieg damit zum ersten Mal in der Vereinsgeschichte in die Landesliga auf!
        </p>
        <p>Neben diesem sportlichen Triumph konnte der TSV am 02.06.2015 ein weiteres Highlight feiern:</p>
        <p>
            Der TSV Ebensfeld bekam den Zuschlag zur DFB-Ehrenrunde.  Dies bedeutete, der Original WM-Pokal der Deutschen Fußballnationalmannschaft war zu Gast in Ebensfeld. Neben dem Pokal hatte der DFB-Truck noch einige Überraschungen im Gepäck.
            Zudem konnte das Organisationsteam des TSV Ebensfeld ein Rahmenprogramm auf die Beine stellen, wie es Ebensfeld noch nicht gesehen hatte. Auch der BFV-Präsident und DFB Vizepräsident Dr. Rainer Koch nahm an der Veranstaltung teil und bedankte sich beim TSV Ebensfeld für die gelungene Veranstaltung.
        </p>

        <a href="#" id="linkToTop"><div>nach oben</div></a>
</article>