@{
    ViewData["Title"] = "Volleyball";
}
    <article>
        <b>Volleyballabteilung TSV Ebensfeld</b><br />
        Ansprechpartner: <br />
        Amon Horst  0170-2426309<br />
        Peter Osses 09573/3289446
        @*<hr />
        <div class="text-center">
            <img src="~/images/volleyball/Mitspieler_Freizeit_Mixed.jpeg" alt="Volleyball" />
        </div>*@
    </article>