@{
    ViewData["Title"] = "Volleyball";
}
<article>
    <b>Volleyballabteilung TSV Ebensfeld</b><br />
    Abteilungsleiter: Amon Horst  0170-2426309<br />
    <hr />
    <div class="text-center">
        <img src="~/images/volleyball/Mitspieler_Freizeit_Mixed.jpeg" alt="Volleyball" />
    </div>
</article>