@{
    ViewData["Title"] = "Vorstandschaft";
}
<div class="panel panel-default">
    <div class="panel-heading">
        Vorstandschaft
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>1. Vorsitzender</td>
                        <td>Böhmer Norbert</td>
                        <td>
                            0162-9719061
                        </td>
                    </tr>
                    <tr>
                        <td>2. Vorsitzender</td>
                        <td>Häublein Armin</td>
                        <td>0170-2320249</td>
                    </tr>
                    <tr>
                        <td>Kassier</td>
                        <td>Förner Hedwig</td>
                        <td>09573-3938</td>
                    </tr>
                    <tr>
                        <td>Schriftführer</td>
                        <td>Schwenk Jan-Eric</td>
                        <td>0151-11756388</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>